<app-top-bar></app-top-bar>

<div class="container">
  <div class="p-4 text-center yellow">
    <h1>Settings</h1>
    <h2>Select Background Image</h2>
  </div>

    <div class="mb-3">
      <label for="fileUpload" class="form-label yellow">Select a file to upload</label>
      <input type="file" id="fileUpload" class="form-control" required />
    </div>
    <div class="d-grid gap-2">
      <button (click)="uploadFile()" class="upload-button">Upload file</button>
    </div>

  <br /><br />
  <label for="fileTable" class="form-label yellow">Uploaded files</label>
  <div class="tablecontainer">
    <table id="fileTable" class="table table-striped">
      <thead>
          <th class="header">Name</th>
          <th class="header">Download</th>
          <th class="header">Delete</th>
          <th class="header">Activate</th>
      </thead>
      <tbody>
        <tr *ngFor="let filename of filenames">
          <td>{{ filename }}</td>
          <td><button (click)="deleteFile(filename)" class="custom-button">Delete</button></td>
          <td><button (click)="deleteFile(filename)" class="custom-button">Delete</button></td>
          <td><button (click)="activateFile(filename)" class="custom-button">Activate</button></td>
        </tr>
      </tbody>    </table>
  </div>
  <div id="uploadStatus" class="mt-3"></div>
</div>