.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.chance {
  font-size: 24px;
  display: flex;
  justify-content: center; 
}

.dropdowns {
  display: flex;
  justify-content: center; 
}


.send-request-button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.send-request-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}