/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  /* background-color: #ffffff; */
  /* border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* padding: 20px; */
  max-width: 90vw;
  width: 95%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

h1 {
  font-size: 64px;
  margin: 50px auto;
  color: yellow;
}

/* Container for the login form */
.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Form elements */
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
  margin-bottom: 10px;
}

.login-container button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.login-container button:hover:enabled {
  background-color: #0056b3;
  transform: scale(1.05);
}

/* Additional styles */
.login-container .forgot-password {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #007bff;
  text-decoration: none;
}

.login-container .forgot-password:hover {
  text-decoration: underline;
}